<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324719435224-43lerq0h2bpckq4t0e573rnsa5u3r0v6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324719435224-43lerq0h2bpckq4t0e573rnsa5u3r0v6</string>
	<key>API_KEY</key>
	<string>AIzaSyAIOqiVB9t32Ti2_VOok7YtSJxutMiw4Vo</string>
	<key>GCM_SENDER_ID</key>
	<string>324719435224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UNAM.appIngenieriaCivil</string>
	<key>PROJECT_ID</key>
	<string>appingenieria-6dc28</string>
	<key>STORAGE_BUCKET</key>
	<string>appingenieria-6dc28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324719435224:ios:21d8992f667102ce3826ad</string>
	<key>DATABASE_URL</key>
	<string>https://appingenieria-6dc28.firebaseio.com</string>
</dict>
</plist>